.title{
    color:#fff;
}
.reservas{
    padding: 20px;
    margin-bottom:10px;
    background: #ddd;
    border-radius:4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reservas img{
    height: 100px;
}
.reservas button{
    border: 0;
    background: #fff;
}

footer button{
    border: 0;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}
.reservas #amount{
    display: flex;
    align-items: center;
}
.reservas #amount input{
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #242424;
    padding: 5px;
    width: 50px;
}
.reservas #amount .button{
    background: #ddd;
}